.products{
    display: flex;
    position: relative;
    flex: 1;
    flex-wrap:wrap;
}
.product{
    display: flex;
    margin: 15em;
    cursor: pointer;

}
.detailsProduct{
    display:flex;
}
input{ 
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}
p{
    max-width: 20ch;/* 30 characters */
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.hidden {
    display: none;
}   

  